<style>
    main{
        width: 1200px;
        margin: 30px auto;
    }

    .card{
        width: 500px;
        margin: 48px;
        display: inline-block;
    }

    h1{
        text-align: center;
    }

    p{
        margin-left: 10px;
        margin-top: 20px;
    }
</style>

<main>
    <div class="card">
        <h1>Dólar</h1>
        <p>Maior cotação do dia: {{dolar.high}}</p>
        <p>Menor cotação do dia: {{dolar.low}}</p>
        <p>Valor de compra atual: {{dolar.bid}}</p>
    </div>

    <div class="card">
        <h1>Euro</h1>
        <p>Maior cotação do dia: {{euro.high}}</p>
        <p>Menor cotação do dia: {{euro.low}}</p>
        <p>Valor de compra atual: {{euro.bid}}</p>
    </div>
</main>